<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Letter Jump</title>
    <style>
      @import url(//cdn.rawgit.com/vbrajon/rawcss/2ca9981dd6113e5601bf42d75cb86d1ae4791923/raw.css);
      input[type=range] { padding: 0px; }
      .page { width: 75%;margin-left: 10%;padding: 8px;transition: var(--transition); }
      .content { width:100%;font-size: 100px;padding: 8px;}
      .content > div { padding: 16px; }
      .actions { margin-top: 10px;padding: 16px;font-size: 20px;}
      .actions input { width: 35%; }
      .actions button { margin-left: 10px; }
      .title .menu { display: none;}
      .title:hover .menu { display: block;}
    </style>
  </head>
  <body>
    <div id="page" class="page column">
      <div class='title column center'>
        <h1> {{ mode === 'pos' ? 'Letter Position' : 'Letter Jumping' }} </h1>
        <div class='menu'>
          <button :style="mode === 'jump' ? 'background: var(--secondary);' : '' " @click="mode = 'jump'">Letter Jumping</button>
          <button :style="mode === 'pos' ? 'background: var(--secondary);' : '' " @click="mode = 'pos'">Letter Position</button>
        </div>
      </div>

      <div class='content row center'>
        <div> {{ letter.toUpperCase() }} </div>
        <div v-if='mode === "jump"'> {{ operator }} </div>
        <div v-if='mode === "jump"'> {{ jump }} </div>
      </div>
      <div class='actions row center'>
        <input v-on:keyup.enter="check()" :style= "error ? 'color: red;font-size:20px;' : 'color: black'" v-model="test"/>
        <button @click="check()">Validate</button>
      </div>
      <div class='column center' v-if="mode ==='jump'">
        <div> Max Step: {{ max }} </div>
        <input type="range" v-model="max" name="volume" min="1" max="10">
      </div>
      <div class='history column center' v-for="h in history">
        <div> {{ h }} </div>
      </div>
    </div>
    <script type="module">
      import Vue from 'https://unpkg.com/vue@2.6.10/dist/vue.esm.browser.js'
      window.random =  Vue.prototype.random = x => {
        return Math.floor(Math.random() * (x)) + 1;
      }

      window.vm = new Vue({
        el: '#page',
        data: {
          alphabet: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
          operations: ['+', '-'],
          letter: 'a',
          operator: '+',
          jump: 1,
          test: '',
          error: false,
          max: 4,
          history: [],
          mode: 'pos',
        },
        methods: {
          solution_jump(){
            if(this.operator === '+') {
              if (this.alphabet.indexOf(this.letter) + this.jump <= 25) return +this.alphabet.indexOf(this.letter) + this.jump
              return + this.jump - (26 - this.alphabet.indexOf(this.letter))
            }
            if(this.operator === '-') {
              if (this.alphabet.indexOf(this.letter) - this.jump >= 0) return +this.alphabet.indexOf(this.letter) - this.jump
              return 26 - this.jump + this.alphabet.indexOf(this.letter)
            }
          },
          solution_position(){
            return this.alphabet.indexOf(this.letter)
          },
          solutions(){
            if(this.mode === 'jump') return this.alphabet[this.solution_jump()] === this.test.toLowerCase()
            if(this.mode === 'pos') return this.solution_position() + 1 == this.test.toLowerCase()
          },
          check(){
            if(this.solutions()) return this.random()
            this.error = true
          },
          random() {
             if(this.mode === 'jump') this.history.push([this.letter,this.operator,this.jump,'=',this.test].join(' '))
             if(this.mode === 'pos') this.history.push([this.letter,'=',this.test].join(' '))
             this.test = ''
             this.letter = this.alphabet[random(26) - 1]
             this.operator = this.operations[random(2) - 1]
             this.jump = random(this.max)
             this.error = false
          },
        },
      })
    </script>
  </body>
</html>
